<div >
    <form (ngSubmit)="editTraining()" >
        <div class="form-group">
            <label>Title:</label>  
            <input type="text" class="form-control"  [(ngModel)]="title" id="title" name="title" required value="{{training?.title}}"/>
        </div>
        <div class="form-group">
            <label>Description:</label>  
            <input type="text" class="form-control"  [(ngModel)]="description" id="description" name="description" required value="{{training?.description}}"/>
        </div>
            <div class="form-group">
                <label >AttendeesAmount:</label>  
                <input type="number" class="form-control"  [(ngModel)]="attendeesAmount" id="attendeesAmount" name="attendeesAmount" min="0" max = "150" required value="{{training?.attendeesAmount}}"/>
            </div>
            <div class="form-group">
                <label>TeacherId:</label>
                 <input type="number"  class="form-control"  name="teacherId" [(ngModel)]="teacherId" min="0" max = "10" required value="{{training?.teacher.userId}}"/>
            </div>
            <button type="submit">Submit</button>
        </form>            
</div>

<button (click)="goBack()" class="btn  btn-primary">Go back</button>
