<!--The content below is only a placeholder and can be replaced.-->
<nav style="text-align:center">
  <a href="#">{{ title }}</a>
  <div *ngIf="isUserInSystem;else loginBlock">
      <div class="user-greetings">Hi, {{username}}</div>
      <div><button (click)="logout()">Logout</button></div>
  </div>
  <ng-template #loginBlock>
    <a class="nav-link" [routerLink]="['/login']" >Login</a>
  </ng-template>
</nav>
<div>
  <a [routerLink]="['/trainings']"  class="btn btn-outline-dark">Trainings</a>
  <a [routerLink]="['/users']"  class="btn btn-outline-dark">Users</a>
  <a [routerLink]="['/weather']"  class="btn btn-outline-dark">Weather</a>
  
</div>
<router-outlet></router-outlet>

